@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=IM+Fell+English+SC&display=swap");
@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e2e8f0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #2a9d8f;
  --color-primary-light: #3cafa1;
  --color-primary-dark: #1f877a;
  --color-secondary: #f4a261;
  --color-secondary-light: #f7b682;
  --color-secondary-dark: #e58b40;

  --color-dark-100: #0f172a;
  --color-dark-200: #1e293b;
  --color-dark-300: #334155;
  --color-dark-400: #475569;

  --color-light-100: #f8fafc;
  --color-light-200: #e2e8f0;
  --color-light-300: #cbd5e1;
  --color-light-400: #94a3b8;

  --color-success: #10b981;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

@layer base {
  body {
    @apply font-normal  leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-tight;
  }

  h1 {
    @apply text-[60px];
  }

  a {
    @apply no-underline transition-colors duration-200;
  }
}
